@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #7c3aed;
}

html, body {
  height: 100%;
}

.font-mono {
  font-family: 'JetBrains Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', monospace;
}
