@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #7c3aed;
}



.font-mono {
  font-family: 'JetBrains Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', monospace;
}


/* ADD THIS: */
@keyframes arrow {
  0% {
    opacity: 0;
    margin-left: 0px;
  }
  100% {
    opacity: 1;
    margin-left: 10px;
  }
}

.animate-arrow {
  transition-duration: 1.5s;
}

button:hover .animate-arrow {
  animation: arrow 1s linear infinite;
}
